* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 25, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body img {
  width: 150px;
  border-radius: 50%;
}

.section {
  max-width: 800px;
  border: 2px solid rgb(228, 66, 160);
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 4fr 3fr;
  min-height: 90vh;
  font-family: Arial, Helvetica, sans-serif;
}
.section .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section .left .radio-box {
  background-color: rgb(111, 72, 207);
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}
.section .left .header h1 {
  text-transform: uppercase;
  color: gold;
  font-size: 2.5rem;
  font-weight: 800;
}
.section .left .text-content {
  letter-spacing: 1px;
}
.section .left .form h2 {
  font-weight: 600;
  letter-spacing: 1px;
  color: gold;
}
.section .left .form input {
  display: block;
  width: 200px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
}
.section .left .form #mc-embedded-subscribe {
  background-color: gold;
  color: purple;
  width: 10rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
.section .left .form #mce-success-response {
  color: white;
}
.section .left .form #mce-success-response {
  margin: 10px 0;
}
.section .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.section .right .time-and-date {
  color: rgb(228, 66, 160);
  font-size: 2.5rem;
  font-weight: 800;
  height: 20%;
}
.section .right .profiles {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section .right .profiles .profile .name {
  color: gold;
  font-size: 1.7rem;
  line-height: 2;
}
.section .right .profiles .profile .role {
  letter-spacing: 1px;
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  .section {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .section .left {
    min-height: 70vh;
  }
  .section .left .form input {
    margin: 15px auto;
  }
  .section .right {
    margin-top: 30px;
    height: 60vh;
  }
  .section .right .profiles {
    flex-direction: row;
  }
}
@media only screen and (max-width: 400px) {
  .section {
    margin: 0;
    padding: 0;
  }
  .section .right .profiles {
    flex-direction: column;
  }
  .section .right img {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .section img {
    width: 100px;
  }
  .section .left {
    height: 80vh;
  }
  .section .left .header h1 {
    font-size: 1.5rem;
  }
  .section .right .profiles .profile .name {
    font-size: 1rem;
  }
  .section .right .profiles .profile .role {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=index.css.map */