* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 25, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  img {
    width: 150px;
    border-radius: 50%;
  }
}

.section {
  max-width: 800px;
  border: 2px solid rgb(228, 66, 160);
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 4fr 3fr;
  min-height: 90vh;
  font-family: Arial, Helvetica, sans-serif;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .radio-box {
      background-color: rgb(111, 72, 207);
      width: 40%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
    }

    .header {
      h1 {
        text-transform: uppercase;
        color: gold;
        font-size: 2.5rem;
        font-weight: 800;
      }
    }
    .text-content {
      letter-spacing: 1px;
    }

    .form {
      h2 {
        font-weight: 600;
        letter-spacing: 1px;
        color: gold;
      }

      input {
        display: block;
        width: 200px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        margin: 15px 0;
      }

      #mc-embedded-subscribe {
        background-color: gold;
        color: purple;
        width: 10rem;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
      }
      #mce-success-response {
        color: white;
      }
      #mce-success-response {
        margin: 10px 0;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .time-and-date {
      color: rgb(228, 66, 160);
      font-size: 2.5rem;
      font-weight: 800;
      height: 20%;
    }
    .profiles {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .profile {
        .name {
          color: gold;
          font-size: 1.7rem;
          line-height: 2;
        }

        .role {
          letter-spacing: 1px;
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .section {
    grid-template-columns: 1fr;
    text-align: center;

    .left {
      min-height: 70vh;

      .form {
        input {
          margin: 15px auto;
        }
      }
    }
    .right {
      margin-top: 30px;
      height: 60vh;
      .profiles {
        flex-direction: row;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .section {
    margin: 0;
    padding: 0;

    .right {
      .profiles {
        flex-direction: column;
      }
      img {
        margin-top: 10px;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .section {
    img {
      width: 100px;
    }
    .left {
      height: 80vh;
      .header {
        h1 {
          font-size: 1.5rem;
        }
      }
    }
    .right {
      .profiles {
        .profile {
          .name {
            font-size: 1rem;
          }
          .role {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
